@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

*{
    background: #f2f4fc;
    font-family: Roboto, sans-serif;
    color: #292e47;
    font-size: 14px;
    line-height: 20px;
}

#nav{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#heroSection{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#heroSection h1{
    color: #292e47;
    font-size: 65px;
    line-height: 130%;
    font-weight: bold;
}

#heroSection p{
    max-width: 478px;
    margin-bottom: 0px;
    color: #6b708d;
    font-size: 22px;
    line-height: 150%;
}

#heroSection a{
    color: #6b708d;
    font-size: 17px;
    /* font-weight: 500; */
    text-decoration: none;
}

#heroSection .container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 650px;
}

#heroSection .frame{
    display: flex;
    align-items: center;
    padding-top: 40px;
    font-weight: bold;
}
#heroSection .frame button{
    margin-left: 20px;
}

#heroSection .image{
    height: inherit;
    position: relative;
}

button{
    width: 150px;
    height: 52px;
    font-size: 17px;
    line-height: 130%;
    background: #072AC8;
    color: white;
    border: none;
}

.c1{
    width: 320px;
    position: absolute;
    left: -19%;
    top: 0%;
    background: none;
}
.c2{
    width: 320px;
    background: none;
    position: absolute;
    right: -25%;
    bottom: -22%;
}
.hero{
    width: 570px;
    background: none;
}

.content{
    width: 530px;
}