@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    background: #f2f4fc;
    font-family: 'Roboto';
    font-style: normal;
}

#nav{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#heroSection{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#heroSection h1{
    color: #292e47;
    font-size: 65px;
    line-height: 130%;
    font-weight: bold;
}

#heroSection p{
    max-width: 470px;
    margin-bottom: 0px;
    color: #6b708d;
    /* font: 20px Roboto, sans-serif; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

#heroSection .container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 650px;
}

#heroSection .frame{
    display: flex;
    align-items: center;
}
#heroSection .frame button{
    margin-left: 20px;
}

#heroSection .image{
    height: inherit;
    position: relative;
}

.c1{
    width: 320px;
    position: absolute;
    left: -19%;
    top: 0%;
    background: none;
}
.c2{
    width: 320px;
    background: none;
    position: absolute;
    right: -25%;
    bottom: -22%;
}
.hero{
    width: 570px;
    background: none;
}

.content{
    width: 530px;
}