/* CTA SECTION */

#CTASection{
    height: 500px;
    margin-top: 200px;
}

#CTASection h1{
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 44px;
}

#CTASection p{
    font-size: 17px;
    color: #6b708d;
    margin-bottom: 0;
}

#CTASection .container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffc600;
    width: 1320px;
}

.email{
    height: 80px;
    width: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#CTASection form{
    margin-right: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.emailIcon{
    width: 30px;
    height: 30px;
    background-image: url("/assets/newsletter/icon/mail.svg");
    position: absolute;
    left: 8%;
    top: 27%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.input{
    width: 393px;
    height: 80px;
    margin-bottom: 0px;
    padding-left: 70px;
    background-color: #ecf7ff;
    color: #292e47;
    font-size: 14px;
    border: 1px solid #cccccc;
}

.subs{
    width: 198px;
    height: 80px;
    font-size: 17px;
    line-height: 130%;
    background: #072AC8;
    color: white;
    border: none;
    padding-right: 60px;
    padding-left: 60px;
    cursor: pointer;
}
.subs:hover{
    background-color: #292e47;
}

.form-done{
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #dddddd;
}
.form-fail{
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede;
}

/* MOVIL  */
@media (max-width: 420px){
    #CTASection{
        width: 100%;
        background-color: #ffc600;
    }
    #CTASection .container{
        max-width: 100%;
    }
    #CTASection h1{
        font-size: 30px;
        margin-top: -40px;
    }
    .email{
        max-width: 247px;
        flex-direction: column;
        height: 180px;
    }
    form{
        width: 247px;
    }
    .subs{
        width: 247px;
        max-width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }
}

/* TABLET */
@media (max-width: 820px){
    #CTASection{
        margin-top: 40px;
    }
}

/* ORDI */
@media (min-width: 820px){

}